/* Header.css */

.header {
  position: relative;
  background-image: url("/public/images/home-bg.jpg");
  background-color: rgb(97, 94, 94);
  background-blend-mode: multiply;
  background-size: cover;
  height: 85vh;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0 !important;
}

.div-1-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div-1 {
  position: relative; 
  z-index: 1; 
  margin-top: 140px;
  text-align: center;
  max-width: 75%;
}

.div-1 h1 {
  font-weight: bolder;
  color: rgb(255, 243, 206);
  font-size: 3.8em;
  font-family: 'Pacifico', cursive;
  font-style: oblique;
}


.search-bar{
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 15px;
  width: fit-content;
  background-color: white;
}

.search-bar input{
  height: 50px;
  border-radius: 15px;
  border: 0;
  z-index: 2;
  font-size: larger;
  width: 600px;
  outline: none;
  padding: 10px;
}

.search-icon{
  font-size: 1.5rem;
  height: 70px;
  width: 70px;
  background-color: white;
  border: none;
  border-radius: 15px;
}

