.hot-jobs{
    display: flex;
    justify-content: space-between;
}

.hot-jobs a{
    text-decoration: none;
    color: rgb(56,56,56);
}

.hot-jobs a:hover{
    color: rgb(113, 106, 106);
    text-decoration:underline;
}

.jobs-list ul{
    display: flex;
}